body
{
  background:black;
  font-size:12pt;
}
h1{
  color:green;
}
button{
  background:orange;
  color:black;
  font-size:15pt;
  border: 2px solid white;
  border-radius:30px;
}
#out{
  color:black;
  border:1px solid orange;
  background:GreenYellow;
  font-size:11pt;
  height:300px;
  width:80%;
  overflow:auto;
}
